.bgr {
    background-image: url("../img/background.png");
    background-size: cover;
    margin: 0;
}

.header {
    display: flex;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 22px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 18px 0 18px 79px;
    text-decoration: none;
}

.logo:hover {
    color: #01813F;
}

.navbar {
    display: flex;
    margin-right: 79px;
    font-family: Ubuntu;
    font-size: 14px;
    align-items: center;
    color: #FFFFFF;
}

.navbar_img {
    margin-right: 25px;
    width: 20px;
    fill: #FFFFFF;
}

.navbar_img:hover {
    fill: #01813F;
}

.navbar-dec {
    text-decoration: none;
    color: #FFFFFF;
}

.navbar-dec:hover {
    color: #3CB878;
}

.welcome {
    padding-left: 27px;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}
.main{
    display: flex;
    height: 100vh;
    align-items: center;
}
.container {
    width: 444px;
    height: 584px;
    background: #FFFFFF;
    margin: 0 auto;
    padding: 31px 0 38px;
}

.sing_log {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 324px;
    position: relative;
    margin: 0 auto;
}

.sing {
    font-family: Ubuntu;
    font-size: 20px;
    color: #434343;
    text-decoration: none;
}

.sing::before {
    content: "";
    position: absolute;
    left: -60px;
    top: 3px;
    background: rgba(0, 0, 0, 0.0001);
    width: 18px;
    height: 18px;
    background: #3CB878;
}

.log {
    font-family: Ubuntu;
    font-size: 14px;
    color: #3CB878;
    text-decoration: none;
}

.log:hover {
    color: #01813F;
    text-decoration: underline;
}

.links {
    display: flex;
    justify-content: space-between;
    max-width: 324px;
    margin: auto;
}

.facebook, .google {
    display: flex;
    font-family: Ubuntu;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 3px;
    text-decoration: none;
    margin: 15px 0 31px;
    position: relative;
    align-items: center;
}

.facebook {
    padding: 17px 22px 17px 67px;
    background: #305DB8;
}

.facebook:hover {
    background: #022263;
}

.fa-facebook-f {
    position: absolute;
    font-size: 24px;
    padding-right: 18px;
    left: 17px;
    border-right: 1px solid rgba(10, 22, 47, 0.1);
    height: 28px;
}

.google {
    padding: 17px 27px 17px 80px;
    background: #DF4A32;
}

.google:hover {
    background: #AB1F09;
}

.fa-google-plus-g {
    position: absolute;
    font-size: 20px;
    padding: 4px 7px 4px 0;
    left: 10px;
    border-right: 1px solid rgba(43, 13, 9, 0.1);
}

.or {
    display: block;
    margin: 0 auto 12px;
    width: 100%;
    max-width: 324px;
    text-align: center;
    overflow: hidden;
    color: #848484;
}

.or::before,
.or::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
    height: 1px;
    border: solid #FFF;
    border-width: 0 10px;
    background: #F2F2F2;
}

.or::before {
    margin-left: -100%;
}

.or:after {
    margin-right: -100%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.entry_field {
    width: 100%;
    max-width: 304px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    margin-bottom: 15px;
    font-family: Ubuntu;
    font-size: 14px;
    color: #BEBEBE;
    padding: 15px 0 15px 20px;
}

.entry_field:focus {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    color: #434343;
    outline: none;
}

.field-checkbox {
    width: 100%;
    max-width: 304px;
}

.chbox:checked,
.chbox:not(:checked) {
    position: absolute;
    left: -9999px;
}

.chbox:checked + label,
.chbox:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 23px;
    cursor: pointer;
}

.chbox:checked + label::before,
.chbox:not(:checked) + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
}

.chbox:checked + label::after,
.chbox:not(:checked) + label::after {
    content: "";
    position: absolute;
    transition: all 0.2s ease;
    width: 20px;
    height: 8px;
    left: 3px;
    border-left: 2px solid #3CB878;
    border-bottom: 2px solid #3CB878;
    transform: rotate(-50deg);
}

.chbox:hover + label::after {
    border-left: 2px solid #01813F;
    border-bottom: 2px solid #01813F;
}

.chbox:not(:checked) + label::after {
    opacity: 0;
}

.terms {
    color: #3CB878;
    text-decoration: none;
}

.terms:hover {
    color: #01813F;
    text-decoration: underline;
}

.create_acc {
    font-family: Ubuntu;
    width: 100%;
    max-width: 324px;
    padding: 16px;
    background: rgba(60, 184, 120, 0.8);
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.create_acc:hover {
    background: #01813F;
}